html{
    font-family: 'Lora', serif;
}



header{
    height: 311px;
    background-image: url('background.png');
}

h1{
    color: #aaa;
    font-family: 'Anton', sans-serif;
}

h2{
    font-family: 'Anton', sans-serif;
}

h3{
    font-family: 'Anton', sans-serif;
}